<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <!-- Form controls go here -->

  <div class="row m-2">
    <div class="col-md-8">
      <div class="row m-2">
        <div class="col-md-1">
          <label>Name:</label>
        </div>
        <div class="col-md-2">
          <input
            class="form-control"
            formControlName="userName"
            placeholder="Your name"
          />
        </div>
      </div>

      <div class="row m-2">
        <div class="col-md-1">
          <label>Email:</label>
        </div>
        <div class="col-md-2">
          <input
            class="form-control"
            formControlName="userEmail"
            placeholder="Your email"
          />
        </div>
      </div>

      <ng-container formGroupName="address">
        <div class="row m-2">
          <div class="col-md-1">
            <label>Address:</label>
          </div>
        </div>

        <div class="row m-2">
          <div class="col-md-1">
            <label for="street">Street: </label>
          </div>
          <div class="col-md-2">
            <input
              id="street"
              type="text"
              class="form-control"
              formControlName="street"
            />
          </div>

          <div class="col-md-1">
            <label for="city">City: </label>
          </div>
          <div class="col-md-2">
            <input
              id="city"
              type="text"
              class="form-control"
              formControlName="city"
            />
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-1">
            <label for="state">State: </label>
          </div>
          <div class="col-md-2">
            <input
              id="state"
              type="text"
              class="form-control"
              formControlName="state"
            />
          </div>

          <div class="col-md-1">
            <label for="zip">Zip Code: </label>
          </div>
          <div class="col-md-2">
            <input
              id="zip"
              type="text"
              class="form-control"
              formControlName="zip"
            />
          </div>
        </div>
      </ng-container>

      <div class="row m-2">
        <div class="col-md-1">
          <label> Aliases: </label>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="addAlias()"
          >
            Add Alias
          </button>
        </div>
      </div>

      <div class="row m-2" formArrayName="aliases">
        <ng-container *ngFor="let alias of aliases.controls; let i = index">
          <!-- The repeated alias template -->
          <!-- <div class="row m-2 m-2"> -->
          <div class="col-md-1">
            <label for="alias-{{ i }}">Alias {{ i }}: </label>
          </div>
          <div class="col-md-2">
            <input
              id="alias-{{ i }}"
              type="text"
              class="form-control"
              [formControlName]="i"
            />
          </div>
          <!-- </div> -->
        </ng-container>
      </div>

      <div class="row m-2">
        <div class="col-md-1">
          <label>Item:</label>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary btn-sm" (click)="addItem()">
            Add Item
          </button>
        </div>
      </div>

      <div
        formArrayName="items"
        *ngFor="let t of items.controls; let i = index"
      >
        <div class="row m-2" [formGroupName]="i">
          <div class="col-md-1">
            <label>Item-{{ i + 1 }}</label>
          </div>
          <div class="col-md-2">
            <input
              formControlName="name"
              class="form-control"
              id="{{ 'name' + i }}"
              type="text"
              class="form-control"
              placeholder="Enter Name"
            />
          </div>
          <div class="col-md-2">
            <input
              formControlName="quantity"
              class="form-control"
              id="{{ 'quantity' + i }}"
              type="number"
              class="form-control mb-4"
              placeholder="Enter Age "
            />
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col-md-1">
          <label>Hobby:</label>
        </div>
      </div>

      <ng-container
        formArrayName="hobbies"
        *ngFor="let t of hobbies.controls; let i = index"
      >
        <div class="row m-2" [formGroupName]="i">
          <div class="col-md-2">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [disabled]="true"
              id="{{ 'hname' + i }}"
              class="form-control"
            />
          </div>
          <div class="col-md-1">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="selected"
              id="{{ 'selected' + i }}"
            />
          </div>
        </div>
      </ng-container>

      <p>Complete the form to enable button.</p>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div class="col-md-4">
      <pre>Here - {{ formVal | json }}</pre>
    </div>
  </div>
</form>
