<form [formGroup]="myForm"
      (ngSubmit)="onSubmit()">
  <!-- Form controls go here -->

  <div>
    <label>
      Name:
      <input formControlName="userName" placeholder="Your name">
    </label>
  </div>

  <div>
    <label>
      Email:
      <input formControlName="userEmail" placeholder="Your email">
    </label>
  </div>

  <div formGroupName="address">
    <label>Address: </label>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">&nbsp;

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">&nbsp;

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">&nbsp;

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">&nbsp;
  </div>


  <div>
    <label>
      Aliases:
      <button type="button" (click)="addAlias()">Add Alias</button>
    </label>
  </div>
  <div formArrayName="aliases">

    <div *ngFor="let alias of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="alias-{{ i }}">Alias: </label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i">
    </div>
  </div>

  <br>

  <div>
    <label>
      Item:
      <button (click)="addItem()">Add Item</button>
    </label>
  </div>

  <div formArrayName="items" *ngFor="let t of items.controls; let i = index">
    <div class="row" [formGroupName]="i">
      <div class="col-md-2">
        <label class="lead">Item-{{i+1}}</label>
      </div>
      <div class="col-md-5">
        <input formControlName='name' id="{{'name'+i}}" type="text" class="form-control mb-4"
               placeholder="Enter Name" />
      </div>
      <div class="col-md-5">
        <input formControlName='quantity' id="{{'quantity' + i}}" type="number" class="form-control mb-4"
               placeholder="Enter Age " />
      </div>

    </div>
  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit">
    Submit
  </button>
  <pre>Here - {{ formVal | json }}</pre>

</form>
